<p>listado de Héroes</p>
<!-- <div *ngIf="heroeBorrado !== ''"> -->
<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Heroe Borrado <small>{{heroeBorrado}}</small></h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>


<!-- <div *ngIf="!heroeBorrado">
    <h3>No ha borrado nada</h3>
</div> -->

<button (click)="borrarHeroe()">Borrar Heroe</button>

<ul>
    <!-- <li>{{heroes[0]}}</li> -->

    <li *ngFor="let heroe of heroes; let i=index">
        {{i}} - {{heroe}}
    </li>
</ul>
